h1{
    color: blue;
    background-color: rgb(40, 183, 230);
    text-align: center;
    font-family: monospace;
    padding: 20px;
}

h4{
    font-size: 21px;
    color: darkslateblue;
}

body{
    background-color: lightcyan;
}

button{
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-weight: 800;
    cursor: pointer;
    box-shadow: 2px 3px darkblue;
}

button:hover{
    background-color: rgb(19, 19, 197);
    
}
p{
    font-weight: 800;
    font-size: 20px;
}